/* -----Shared Styles----- */
body {
  max-width: 1140px;
  margin: 0 auto;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.bold-title {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  color: #000000;
}
.light-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  /* font-size: 1.37rem; */
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
}

.org-color {
  color: rgba(233, 90, 8, 1);
}
.btn-primary {
  background-color: rgba(233, 90, 8, 1);
  border: none;
  color: white;
  padding: 19px 80px;
}
/* -----Nav Styles----- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.nav-link {
  display: flex;
  gap: 48px;
  list-style: none;
}

.nav-link a {
  text-decoration: none;
  color: rgba(37, 36, 50, 1);
}

.same-color {
  color: #8987a1;
  font-weight: 400;
}

/* -----Banner----- */
.banner {
  display: flex;
  align-items: flex-end;
  margin-top: 220px;
}
.banner h1 {
  font-weight: 700;
  font-size: 4em;
}

.banner p {
  font-weight: 400;
  font-size: 1.37rem;
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
}

.banner span {
  color: rgba(233, 90, 8, 1);
}

/* ------Our Plants------- */

.our-plants h2 {
  font-size: 3.125rem;
}

.our-plant-heading {
  text-align: center;
}
.card {
  text-align: center;
}
.card img {
  width: 270px;
}

.card h3 {
  font-weight: 500;
  font-size: 1.375rem;
  color: (17, 17, 17, 1);
}
.card :nth-child(3) {
  font-weight: bold;
}
.card button {
  width: 100%;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
/* -----Responsive Part----- */
/* @media screen {
  .nav-link {
    display: none;
  }
} */
