/* -----Shared Styles----- */
body {
  margin: 0;
  padding: 0;
}
.fixed-margin {
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.bold-title {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  color: #000000;
  font-size: 3.125rem;
}
.light-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  /* font-size: 1.37rem; */
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
}

.org-color {
  color: rgba(233, 90, 8, 1);
}
.btn-primary {
  background-color: rgba(233, 90, 8, 1);
  border: none;
  color: white;
  padding: 19px 80px;
  font-size: 1rem;
}
/* -----Nav Styles----- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.nav-link {
  display: flex;
  gap: 48px;
  list-style: none;
}

.nav-link a {
  text-decoration: none;
  color: rgba(37, 36, 50, 1);
}

.same-color {
  color: #8987a1;
  font-weight: 400;
}

/* -----Banner----- */
.banner {
  display: flex;
  align-items: flex-end;
  margin-top: 220px;
}
.banner h1 {
  font-weight: 700;
  font-size: 4em;
  /* width: 60%; */
}

.banner p {
  max-width: 570px;
  font-weight: 400;
  font-size: 1.37rem;
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
}
.banner img {
  width: 100%;
}

.banner span {
  color: rgba(233, 90, 8, 1);
}

/* ------Our Plants------- */

.our-plants h2 {
  font-size: 3.125rem;
}

.our-plant-heading {
  text-align: center;
}

.our-plants-description {
  max-width: 888px;
  text-align: center;
  margin: 50px auto;
}
.card {
  text-align: center;
}
.card img {
  width: 270px;
}

.card h3 {
  font-weight: 500;
  font-size: 1.375rem;
  color: (17, 17, 17, 1);
}
.card :nth-child(3) {
  font-weight: bold;
}
.card button {
  width: 100%;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* lover */
.lover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 210px;
  gap: 60px;
}
.lover-right h2 {
  font-size: 3.125rem;
}
.lover-right li {
  max-width: 540px;
  margin-bottom: 10px;
}

.image-wrapper {
  position: relative; /* Needed to position the badge absolutely inside */
  display: inline-block;
}

.flower-store {
  display: block;
  width: 100%;
  height: auto;
}

.lover-badge {
  position: absolute;
  width: 250px;
  height: 250px;
  top: -110px;
  right: -110px;
}

/* ------Latest Deals----- */

.latest-deal-heading {
  text-align: center;
}
.collage-container {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);
}
.collage-container a,
h2 {
  color: white;
}
.collage-container h2 {
  margin: 0;
}
.collage-2 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.collage-1 {
  /* background-image: url(./assets/deal-bloom.png); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/deal-bloom.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  height: 206px;
}
.collage-2 {
  /* background-image: url(./assets/deal-zabo.png); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/deal-zabo.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 22px;
}
.collage-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./assets/deal-ana.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  height: 206px;
  /* background-image: linear-gradient(url(./assets/deal-ana.png)); */
}

/* ------Join------ */
.join {
  background-image: linear-gradient(rgba(7, 51, 79, 0.4), rgba(7, 51, 79, 0.4)),
    url("./assets/news-letter-bg.png");
  /* background-size: cover; */
  height: auto;
  display: flex;
  gap: 0;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  align-items: center;
  height: 533px;
  margin-top: 100px;
  width: 100%;
  margin-bottom: 50px;
}

.join h2 {
  color: white;
  font-size: 3.125rem;
}

.Subscribe {
  /* display: inline; */
  background-color: #e95a08;
  padding: 1.1rem 3rem;
  color: white;
  font-size: 1rem;
  border: none;
}

.input-email {
  padding: 1rem 30rem 1rem 1rem;
  border: none;
}

.join-div {
  display: flex;
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  align-items: flex-start;
}
footer ul li {
  list-style: none;
  font-size: 1rem;
  margin-bottom: 32px;
}
.footer-icon {
  display: flex;
  width: 100%;
  gap: 25px;
}
.footer-icon img {
  width: 36px;
  height: 36px;
}
.footer p {
  max-width: 360px;
}
/* -----Responsive Part-----  */

@media screen and (max-width: 576px) {
  .media-query {
    display: none;
  }
  .banner {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .banner-left h1 {
    /* margin: 10px 10px; */
    margin: 0;
  }
  .banner-left {
    order: 2;
    /* margin: 20px 10px; */
    padding: 20px 10px;
  }
  .banner-right {
    order: 1;
    width: 100%;
  }
  nav {
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    margin-top: 10px;
    box-sizing: border-box;
  }
  .nav-right {
    /* background-color: green; */
    /* padding-left: 50px; */
  }
  .nav-link {
    padding: 0;
    margin: 0;
  }

  .our-plant-heading {
    text-align: center;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 14px;
  }
  .btn-primary {
    padding: 10px 5px;
  }
  .lover img {
    width: 100%;
  }
  .lover {
    flex-direction: column;
    gap: 0;
    margin: 50px 10px;
  }

  .join {
    width: 100%;
    height: auto;
    display: flex;
    padding-bottom: 30px;
    margin-bottom: 50px;
    height: 276px;
  }
  .join h2 {
    font-size: 1.25rem;
  }

  .join-div .input-email {
    padding: 0;
    /* font-size: 0.5rem; */
  }

  .join-div .Subscribe {
    padding: 7px 10px;
  }

  .footer {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 10px;
    align-items: flex-end;
  }
  .footer {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 20px;
    margin-right: 20px;
    align-items: flex-start;
    text-align: left;
  }

  .footer-icon {
    justify-content: flex-start;
  }

  footer ul {
    padding-left: 0;
    margin-left: 0;
  }

  .lover-badge {
    display: none;
  }
  .collage-container {
    display: flex;
    flex-direction: column;
  }
  .collage-1,
  .collage-2,
  .collage-3 {
    grid-column: auto;
    grid-row: auto;
    /* width: 100%; */
    height: 200px;
    margin: 0 16px;
  }
}
