/* -----Shared Styles----- */
body {
  max-width: 1140px;
  margin: 0 auto;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.bold-title {
  font-family: "Noto Serif", serif;
  font-weight: 700;
  color: #000000;
  font-size: 3.125rem;
}
.light-text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  /* font-size: 1.37rem; */
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
}

.org-color {
  color: rgba(233, 90, 8, 1);
}
.btn-primary {
  background-color: rgba(233, 90, 8, 1);
  border: none;
  color: white;
  padding: 19px 80px;
  font-size: 1rem;
}
/* -----Nav Styles----- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.nav-link {
  display: flex;
  gap: 48px;
  list-style: none;
}

.nav-link a {
  text-decoration: none;
  color: rgba(37, 36, 50, 1);
}

.same-color {
  color: #8987a1;
  font-weight: 400;
}

/* -----Banner----- */
.banner {
  display: flex;
  align-items: flex-end;
  margin-top: 220px;
}
.banner h1 {
  font-weight: 700;
  font-size: 4em;
  /* width: 60%; */
}

.banner p {
  max-width: 570px;
  font-weight: 400;
  font-size: 1.37rem;
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
}
.banner img {
  width: 100%;
}

.banner span {
  color: rgba(233, 90, 8, 1);
}

/* ------Our Plants------- */

.our-plants h2 {
  font-size: 3.125rem;
}

.our-plant-heading {
  text-align: center;
}

.our-plants-description{
  max-width: 888px;
  text-align: center;
  margin: 50px auto;
}
.card {
  text-align: center;
}
.card img {
  width: 270px;
}

.card h3 {
  font-weight: 500;
  font-size: 1.375rem;
  color: (17, 17, 17, 1);
}
.card :nth-child(3) {
  font-weight: bold;
}
.card button {
  width: 100%;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* lover */
.lover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 210px;
  gap: 60px;
}
.lover-right h2 {
  font-size: 3.125rem;
}
.lover-right li {
  max-width: 540px;
  margin-bottom: 10px;
}

/* ------Latest Deals----- */
.latest-deal-heading {
  text-align: center;
}
.collage-container {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  flex: 1;
}
.collage-container a {
  color: white;
}
.collage-container h2 {
  margin: 0;
}
.collage-2 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.collage-1 {
  background-image: url(./assets/deal-bloom.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 14px;
  height: 206px;
}
.collage-2 {
  background-image: url(./assets/deal-zabo.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 22px;
}
.collage-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
                    url('./assets/deal-ana.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;
  linear;
  border-radius: 14px;
  height: 206px;
  /* background-image: linear-gradient(url(./assets/deal-ana.png)); */
}

/* Join */
.join{
    background-image: linear-gradient(rgba(7, 51, 79, 0.4), rgba(7, 51, 79, 0.4)),url('./assets/news-letter-bg.png');
    /* background-size: cover; */
    height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  margin: 0;
  width: 1440px;
  margin: 0 auto;
  align-items: center;
}

.join h2{
  color: white;
}

.join input button{
  display: inline-block;
}
/* -----Responsive Part-----  */

@media screen and (max-width: 576px) {
  .media-query {
    display: none;
  }
  .banner {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .banner-left h1 {
    /* margin: 10px 10px; */
    margin: 0;
  }
  .banner-left {
    order: 2;
    /* margin: 20px 10px; */
    padding: 20px 10px;
  }
  .banner-right {
    order: 1;
    width: 100%;
  }
  nav {
    width: 100%;
    justify-content: space-between;
    padding: 0 10px;
    align-items: center;
    margin-top: 10px;
    box-sizing: border-box;
  }
  .nav-right {
    /* background-color: green; */
    /* padding-left: 50px; */
  }
  .nav-link {
    padding: 0;
    margin: 0;
  }

  .our-plant-heading {
    text-align: center;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 14px;
  }
  .btn-primary {
    padding: 10px 5px;
  }
  .lover {
    flex-direction: column;
    gap: 0;
    margin: 50px 10px;
  }
  .lover h2 {
    /* margin: 0; */
  }
}
